
# VS Code
.vscode/
*.code-workspace

# Environment variables
.env
.env.*
*.env
**/.env

# Database
*.sqlite3
*.db

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
venv/
env/