services:
  api:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./config/.env
    environment:
      - DB_HOST=db
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./src:/app/src

  db:
    image: postgres:17
    environment:
      - POSTGRES_DB=talleres_db
      - POSTGRES_USER=luishernandez
      - POSTGRES_PASSWORD=1234
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5435:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U luishernandez -d talleres_db"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
